{% extends "navbar.html" %}

{% block content %}
	<br>
	<h1 style="text-align: center;">Your journey to best product starts from here</h1>
	<br>
	<br>
	<form action="" method="POST">
		{% csrf_token %}
		<div class="rform">
			{% for f in form %}
				<h3 >{{f.label}}</h3>
				{{f}}
				<br>
				<h4 class="errors">{{f.errors}}</h4>
			{% endfor %}
			<h4>Already a user? <a href="{% url 'login' %}" style="color: orange">Login</a></h4>
			<br>
			<br>
			<div style="text-align:center;"><button type="submit" class="btn btn-lg btn-primary">Register</button></div>
			<br>
			<br>
		</div>
	</form>

{% endblock %}


