{% extends "navbar.html" %}

{% block content %}
		{{message}}
		<div class="main">
			<div class="heading">

			</div>
			<br>
			<div class="Product_list">
				{% if request.user.is_authenticated %}
					<h2 style="text-align: center;">You haven't subscribed to any service so subscribe to service and start the journey</h2>
				{% endif %}
				{% if total == 0 %}
					<h1>No services available to sell at this time</h1>
				{% else %}
					{% for d in services %}
						<div class="monthly text-center">
							<h3>{{d.name}} subscription </h3>
							<h2>${{d.charges}}*<h2>
							<h6>Auto renews after each month</h6>
							<br>
							<h4>Access to exclusive content</h4>
							<h4>Cancel anytime</h4>
							<h4>Try 7 days for free</h4>
							<br>
							<a href="{% url 'checkout' %}" role="button" class="btn btn-primary btn-lg active" aria-pressed="true">Buy now</a>
							<br>
							<br>
						</div>
						<br>
					{% endfor %}
				{% endif %}
			</div>
		</div>

{% endblock %}


