{% extends "navbar.html" %}

{% block content %}
	<br>
	<br>
	<h1 class="greet" style="text-align: center;"> Hello Premium user, {{request.user}}</h1>
	<br>
	<br>
	<br>
	<br>
	<div class="service" style="text-align: center;"><h1>Here is the paid content only subscriber can see this and you are a subscriber so you can see this</h1></div>
	<br>
	<br>
	<br>
	<div class="subscription-detail" style="text-align: center;"><h1>-: Your Plan :-</h1>
	{% if cancel == False %}
		{% if trial == True %}
			<h2 style="text-align:center;"> You are currently on free trial <br><br> your free trial ends in {{days}} days</h2>
			<br>
			<br>
		{% else %}
			<h2 style="text-align:center;"> You are currently having an active plan and <br><br>you will be charged at the end of billing cycle</h2>
			<br>
			<br>
		{% endif %}
		<div class="cancel_button"><button type="button" class="btn btn-primary" onclick="myFunction()">Cancel subscription</button></div>
		<br>
		<br>
		<br>
	{% else %}
		{% if trial == True %}
			<h2 style="text-align:center;"> You are currently on free trial for {{days}} days and your subscription will end after free trail <br><br>you will not charged for anything</h2>
			<br>
			<br>
			<br>
		{% else %}
			<h2 style="text-align:center;"> Your subscription will end at the end of this billing cycle</h2>
			<br>
			<br>
			<br>
		{% endif %}
		<div class="cancel_button"><button type="button" class="btn btn-primary" onclick="myFunction1()">Restart subscription</button></div>
		<br>
		<br>
		<br>
	{% endif %}
	</div>

	<script>
	function myFunction() {
	  var x = confirm("Are you really sure you want to cancel subscription!");
	  if(x==true)
	  {
	  	window.location.replace("cancel/");
	  }

	}
	function myFunction1() {
	  var x = confirm("Are you really sure you want to restart subscription!");
	  if(x==true)
	  {
	  	window.location.replace("restart/");
	  }

	}
	</script>
{% endblock %}